:root {
    --color1: rgb(77, 77, 77);
    --color2: #a2d4d4;
    --color3: #945a5a;
    --bg-color: rgb(212, 212, 212);
}


html,
body {
    background-color: var(--bg-color);
    font-family: sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h4 {
    margin: 0;
    padding: 10px;
}

h1 {
    font-size: 6vh; 
    color: --color2;
}

h4 {
    font-size: 4vh;
    color: var(--color3);
}

button,
label,
input,
p {
    font-size: 1.5vh;
    margin: 8px 8px 8px 8px
}

button,
input {
    width: 230px;
}

/* label {
    width: 75px;
} */

.title{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 6px 0px 6px 0px;
    margin:  6px 0px 6px 0px;
    background-color: var(--color2);
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 100%;
}

.form_login{
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--color2);
    border-radius: 25px;

}

.table{
    width: 50%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #252525;
    text-align: left;
    padding: 4px 4px 4px 4px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #b6b6b6;
}


/* .elemento_std1{
    width:300px;
}
.elemento_std1{
    width:300px;
} */
/* form {
    margin-top: 5vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--color3);
}

label {
    margin-top: 1vh;
}

input {
    padding: 2%;
} */

/* input[type='submit'] {
    background-color: var(--bg-color);
    color: var(--color3);
    font-weight: bold;
    border: solid var(--color1) 2px;
    margin-top: 3vh;
    transition:0.5s background-color ;
}


input[type='submit']:hover {
    background-color: var(--color1);
    cursor: pointer;
}
 */


/* @keyframes neon {
    25% {text-shadow: 0 0 4vh;}
    50% {text-shadow: 0 0 10vh;}
    75% {text-shadow: 0 0 8vh;}
}

@keyframes color_change {
    35% {color: #3dd908}
    75% {color: #c2d919}
}


 */